[Unit]
Description=Meaningful Moon Cloud9 IDE Service

[Service]
ExecStart=/usr/bin/su --login emory --command "cp --recursive /opt/c9sdk /home/emory && cd /home/emory/c9sdk && export PATH=/opt/gcc/bin:${PATH} && ./scripts/install-sdk.sh && node /home/emory/c9sdk/server.js -w /home/emory/workspace --port 26775 --listen 0.0.0.0 --auth emory:emory && true"


[Install]
WantedBy=multi-user.target
